body {
    background-color: darkslategrey;
}
.midLeft {
    display: flex;
    float: left;
}

.midLeft #container div {
    display: flex;
    justify-content: space-between;


}

.midRight {
    display: flex;
    flex-direction: column;
    float: right;
}

.midRight h2 {
    color: deeppink;
    background-color: #180d53;
    padding: 10px;
}


h1 {
    display: flex;
    justify-content: center;
    color: deeppink;
    background-color: #180d53;
    padding: 25px;
}

.midLeft #container div button {
    border-radius: 30%;
    font-size: 30px;
    background-color: #180d53;
    color: deeppink;
    border: none;
    margin: 50px;
    padding: 15px;
}




